html {
  --main-font-color: white;
  --modal-card-bg-color: var(--accent-color);
  --bold: 600;
  --medium: 400;
  --light: 300;
}

html,
body {
  background-color: var(--main-bg-color);
}

#moves-preview {
  height: 3em;
  width: 100%;
}

#moves-preview img {
  height: 3em;
}

#modal {
  display: block;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000;
  backdrop-filter: blur(0px) saturate(100%);
  color: white;
  transition: background-color 0.4s ease-in, backdrop-filter 0.3s, height 0s linear 0s;
}

#modal.darkened-modal {
  transition: background-color 0.3s ease-out, backdrop-filter 0.3s, height 0s linear 0s;
  backdrop-filter: blur(10px) saturate(60%);
  background-color: rgba(0, 0, 0, 0.3);
}

#modal.closed {
  height: 0;
  transition: background-color 0.3s ease-in, backdrop-filter 0.3s, height 0s linear 0.3s;
}

#modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2% auto;
  padding: 2%;
  background-color: var(--modal-card-bg-color);
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.7);
  width: 60%;
  height: fit-content;
  filter: opacity(100%);
  translate: 0 0;
  transition: filter 0.2s ease-in, translate 0.2s;
}

#modal-content.closed {
  filter: opacity(0);
  translate: 0 20vh;
  transition: filter 0.2s ease-out, translate 0.2s;
}

#modal-next-button {
  margin: 0 2%;
  border: none;
  background-color: #0000;
  font-size: 60px;
  font-weight: var(--bold);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#modal-next-button:hover {
  color: #fff
}

#modal-text-header {
  font-weight: var(--bold);
  color: hsl(from var(--main-font-color) h s calc(l - 20%));
  margin: 5% 0;
}

#modal-description {
  font-weight: var(--light);
  font-size: 2.4rem;
}

#modal-description .smaller {
  font-size: 1.5rem;
}

#controls {
  position: fixed;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  text-align: center;
}

#controls button {
  width: 160px;
  margin: 2px;
}

#horizontal-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#controls button {
  margin: 5px;
}

#move-button {
  width: 100px;
  border: none;
  cursor: pointer;
}

#info-text {
  position: fixed;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--light);
  color: var(--main-font-color);
}

#canvas {
  width: 100%;
  border: 1px solid var(--main-font-color);
  border-radius: 5px;
  background-color: var(--main-bg-color);
}