html {
  --main-font-color: white;
  --modal-card-bg-color: var(--accent-color);
  --bold: 600;
  --medium: 400;
  --light: 300;
  margin: 0;
  padding: 0%;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  background-color: var(--main-bg-color);
  margin: 0 auto;
  padding: 2%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

button {
  padding: 10px;
  border-radius: 0.4em;
  border: none;
  color: var(--main-font-color);
  background-color: #0c151c;
}

button:hover {
  background-color: #2980b9;
  cursor: pointer;
}

#moves-preview {
  height: 5em;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  overflow: auto;
  border: 1px solid var(--main-font-color);
  border-radius: 5px;
}

#moves-preview img {
  height: 3em;
}

#modal {
  display: grid;
  place-content: center;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000;
  backdrop-filter: blur(0px) saturate(100%);
  color: white;
  transition: background-color 0.4s ease-in, backdrop-filter 0.3s, height 0s linear 0s;
}

#modal.darkened-modal {
  transition: background-color 0.3s ease-out, backdrop-filter 0.3s, height 0s linear 0s;
  backdrop-filter: blur(10px) saturate(60%);
  background-color: rgba(0, 0, 0, 0.3);
}

#modal.closed {
  height: 0;
  transition: background-color 0.3s ease-in, backdrop-filter 0.3s, height 0s linear 0.3s;
}

#modal-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2%;
  background-color: var(--modal-card-bg-color);
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.7);
  width: 60%;
  height: fit-content;
  filter: opacity(100%);
  translate: 0 0;
  transition: filter 0.2s ease-in, translate 0.2s;
}

#modal-content.closed {
  filter: opacity(0);
  translate: 0 20vh;
  transition: filter 0.2s ease-out, translate 0.2s;
}

#modal-next-button {
  margin: 0 2%;
  background-color: var(--accent-color);
  font-size: 2rem;
  font-weight: var(--bold);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#modal-next-button:hover {
  color: #fff
}

#modal-text-header {
  font-weight: var(--bold);
  color: hsl(from var(--main-font-color) h s calc(l - 20%));
  margin: 5% 0;
}

#modal-description {
  font-weight: var(--light);
  font-size: 1.5rem;
}

#canvas {
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  border: 1px solid var(--main-font-color);
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

#controls {
  text-align: center;
  display: grid;
  gap: 0.5em;
}

#controls button {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 1.5rem;
}

#up {
  grid-row: 1;
  grid-column: 2;
}

#left {
  grid-row: 2;
  grid-column: 1;
}

#down {
  grid-row: 2;
  grid-column: 2;
}

#right {
  grid-row: 2;
  grid-column: 3;
}

#move {
  align-self: stretch;
  font-size: 1.5rem;
}