/* DESIGN FOR MOBILE, NOT DESKTOP */

#home-screen {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('images/indexbackground.jpg');
	object-fit: cover;
	background-size: cover;
}

body {
	/* Sets the base font size. You only need rem and em for any font-sizes now. */
	font-size: calc(15px + 1vw);
	margin: 0;
}

section:nth-last-child(3) {
	/* So that the last section before the footer has some padding (3rd last because the script tag is there too) */
	margin-bottom: 20vh;
}

nav {
	display: flex;
	flex-direction: row;
	background-color: var(--nav-bg-color);
}

nav * {
	color: var(--main-font-color);
	text-decoration: none
}

nav a {
	display: block;
	padding: 0.5rem;
}

.title-section {
	height: 100%;
	width: 100%;
	padding-top: 15vh;
	box-sizing: border-box;
}

.title-text {
	text-align: center;
	color: var(--main-font-color);
}

.title-text h1 {
	font-size: 4rem;
	text-transform: capitalize;
	margin-bottom: 2rem;
	font-family: Vina Sans;
	font-weight: normal;
}

.title-text p {
	font-weight: bold;
	font-size: 1.5rem;
	font-family: Tillana;
	margin: 0
}

.title-section>.home-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh
}

.home-button {
	font-family: Tillana;
	font-weight: 800;
	padding: 1.5rem;
	margin: 1rem;
	background-color: var(--secondary-bg-color);
	color: var(--secondary-font-color);
	border-radius: 65px;
	font-size: 1.5rem;
	text-decoration: none
}

#play-button {
	background-color: var(--accent-color);
}

footer {
	font-family: Tillana;
	font-weight: 800;
	width: 100%;
	padding: 1rem;
	background-color: var(--accent-color);
	text-align: center;
	box-sizing: border-box;
	color: white;
	text-shadow: 2px 2px 4px #00000060;
	position: fixed;
	bottom: 0;
}


.page-switch-button {
	background-color: var(--accent-color);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	width: 150px;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 8px;
	font-family: 'Tillana', sans-serif;
	text-shadow: 2px 2px 4px #000000;
	text-decoration: none;
}

#login-panel {
	margin: auto;
	width: 50%;
	border-radius: 8px;
	background: var(--panel-bg-color);
	font-family: Tillana;
}

#login-form * {
	margin: 8px;
}

#login-form input {
	width: 90%;
}

#login-form label {
	color: var(--main-font-color);
}
input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     color: var(--secondary-font-color);
     width: 250px;
     height: 30px;
     padding-left: 10px;
    }